# Regression metrics

In the introductory example with the landscape, we invented the metric ourselves. There isof course, a number of standard metrics that are used to evaluate models.Here is an overview of the most famous of them:
![y_y_hat_definice](static/y_y_hat.png)
- ** MAE (Mean absolute error) ** - average of absolute values of deviations of required outputs from predicted outputs
   ![MAE formula](static/mae_large.png) 
   
- ** MSE (Mean squared error) ** - average of the sum of squares of deviations of the required outputs from the predicted outputs
   ![MSE formula](static/mse_large.png) 
   
   
- ** R2 score ** - the coefficient of determination expresses what proportion of variabilitydependent variables (responses) the model expresses. It can be interpreted as saying how much better our model is thanconstant * baseline * given as an average.
    ![R2 formula](static/r2_large.png) 


The R2 score reaches a maximum of one, which means perfect prediction.

If you don&#39;t like patterns, don&#39;t mess with them. Take a look at the following example:

We will create a dataframe that will contain responses (&quot;correct&quot; column) and predicted values (&quot;predicted&quot; column). For simplicity, we generate the response values randomly and create their &quot;predictions&quot; by adding to thesewe add a random number from the interval (-10, 10) to the responses.

In [1]:
import pandas as pd 
import random

df = pd.DataFrame ({&quot;correct&quot;: [random.randint (10, 90) for _ in range (10)]})df [&quot;predicted&quot;] = df [&quot;correct&quot;] apply (lambda predicted: predicted + random.randint (-10, 10))df

   správně  predikováno
0       55           47
1       37           41
2       34           34
3       11           20
4       68           64
5       34           42
6       64           65
7       79           82
8       54           64
9       72           82

We calculate the MSE, MAE and $ R ^ 2 $ scores. Let&#39;s write a function:

In [2]:
def metcti_metriky (actual_response, predicted):errors = pd.DataFrame ()errors [&quot;absolute_error&quot;] = abs (actual_response - predicted)errors [&quot;error_on_type&quot;] = (actual_response - predicted) ** 2baseline = skutecna_odezva.mean ()errors [&quot;error_on_the_basic_baseline&quot;] = (actual_response - baseline) ** 2
MSE = errors [&quot;second_error&quot;]. Mean ()MAE = errors [&quot;absolute_error&quot;]. Mean ()R2 = 1 - MSE / errors [&quot;error_on_type_baseline&quot;]. Mean ()    
return chyby, MSE, MAE, R2

In [3]:
df_errors, MSE, MAE, R2 = compute_metrics (df [&quot;correct&quot;], df [&quot;predicted&quot;])# let&#39;s see the table along with the corresponding errorspd.concat([df, df_chyby], axis="columns")

,správně,predikováno,absolutní_chyba,chyba_na_druhou,chyba_na_druhou_baseline
0,55,47,8,64,17.64
1,37,41,4,16,190.44
2,34,34,0,0,282.24
3,11,20,9,81,1584.04
4,68,64,4,16,295.84
5,34,42,8,64,282.24
6,64,65,1,1,174.24
7,79,82,3,9,795.24
8,54,64,10,100,10.24
9,72,82,10,100,449.44

In [4]:
# let&#39;s list the metrics valuesprint(f"MSE = {MSE}")
print (f &quot;MAE = {MAE}&quot;)print(f"R2 = {R2}")

MSE = 45.1
MAE = 5.7
R2 = 0.8895041160329282

From the table above and from the displayed errors, we can see that MSE penalizes * larger * errors much more.
Let&#39;s try to simulate a solution that will be relatively accurate (the random deviation we add will be from the interval (-1,1)).

In [5]:
df2 = pd.DataFrame()
df2 [&quot;correct&quot;] = df [&quot;correct&quot;]df2 [&quot;predicted&quot;] = df2 [&quot;correct&quot;]. apply (lambda predicted: predicted + random.uniform (-1., 1.))df2

   správně  predikováno
0       55    54.769010
1       37    36.652405
2       34    34.909515
3       11    10.047192
4       68    67.872533
5       34    34.457738
6       64    63.634442
7       79    78.875997
8       54    53.542470
9       72    72.378543

Again, let&#39;s look at the errors:

In [6]:
df2_errors, MSE_2, MAE_2, R2_2 = metrics metrics (df2 [&quot;correct&quot;], df2 [&quot;predicted&quot;])pd.concat([df2, df2_chyby], axis="columns")

,správně,predikováno,absolutní_chyba,chyba_na_druhou,chyba_na_druhou_baseline
0,55,54.769010,0.230990,0.053356,17.64
1,37,36.652405,0.347595,0.120822,190.44
2,34,34.909515,0.909515,0.827217,282.24
3,11,10.047192,0.952808,0.907844,1584.04
4,68,67.872533,0.127467,0.016248,295.84
5,34,34.457738,0.457738,0.209524,282.24
6,64,63.634442,0.365558,0.133633,174.24
7,79,78.875997,0.124003,0.015377,795.24
8,54,53.542470,0.457530,0.209334,10.24
9,72,72.378543,0.378543,0.143295,449.44

And let&#39;s list the metrics values:

In [7]:
print (f &quot;MSE = {MSE_2: .3f} (last: {MSE})&quot;) #: .2f means float to two decimal placesprint (f &quot;MAE = {MAE_2: .3f} (minule: {MAE})&quot;)print(f"R2  = {R2_2:.3f} (minule: {R2})")

MSE = 0.264 (minule: 45.1)
MAE = 0.435 (minule: 5.7)
R2  = 0.999 (minule: 0.8895041160329282)

We see that the values of MSE and MAE are now significantly lower than before. This is because the &quot;predicted&quot; values are very close to the actual values. The $ R ^ 2 $ score turned out higher (closer to one).
Note: Attention, now the MAE value is higher than MSE, this is because the individual errors are now less than one (the power is less than the absolute value).